body {
  background-color: #c7dff9;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  margin-right: 10px;
}

.brand {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.nav-tabs {
  background-color: transparent;
  border: none;
}

.nav-link {
  color: #333;
  padding: 10px 20px;
}

.nav-link.active {
  color: #007bff;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Add custom CSS for the button and icon */
.button {
  width: 200px;
  height: 200px;
  background-color: #ccc; /* Gray color */
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333; /* Text color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.add-icon {
  width: 40px; /* Set the desired width for the icon */
  height: 40px; /* Set the desired height for the icon */
  line-height: 40px; /* Center the icon vertically */
  text-align: center; /* Center the icon horizontally */
}

.floating-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c7dff9; /* Light blue color */
  padding: 20px;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  max-height: 80%; /* Set a maximum height as a percentage of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.floating-window label,
.floating-window input,
.floating-window select,
.floating-window button {
  display: block;
  margin: 10px 0;
}

.task-view-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF; /* Light blue color */
  padding: 20px;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  max-height: 80%; /* Set a maximum height as a percentage of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.task-view-window label,
.task-view-window input,
.task-view-window select,
.task-view-window button {
  display: block;
  margin: 10px 0;
}

.priority-low {
  background-color: #26da26; /* Green for Low */
}

.priority-medium {
  background-color: #ffeb3b; /* Yellow for Medium */
}

.priority-important {
  background-color: #ff9800; /* Orange for Important */
}

.priority-urgent {
  background-color: #f44336; /* Red for Urgent */
}

.task-item {
  width: 205px; /* Fixed width */
  height: 205px; /* Fixed height */
  overflow: hidden;
  white-space: nowrap;
  font-size: 17px;
  background-color: white;
  padding: 10px;
  margin-left: 15px;
  margin-right: 25px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
  position: relative;
}

.tag {
  padding: 2px 4px;
  border-radius: 3px;
  color: white;
}

.priority-text-low {
  color: rgb(3, 130, 3);
}
.priority-text-medium {
  color: rgb(235, 235, 72);
}
.priority-text-important {
  color: orange;
}
.priority-text-urgent {
  color: red;
}
